<%- include('partials/header'); -%>

<div class = "container">
    <div class = "row justify-content-start header">
        <div class = "col-1">
            <img src="../public/images/arrowback.png">
        </div>

        <div class = "col-1">
            <img src="../public/images/logo.png">
        </div>

        <div class = "col-6">
            <h1>Rock Paper Scissors</h1>
        </div>
    </div>


    <div class = "row">
        <div class = "col-md-5 d-grid justify-content-center align-item-center text-center player1">
            <ul>
                <h3>Player 1</h3>
                <li>
                    <img src="../public/images/batu.png" class="batu" onclick="start('batu')">
                </li>
                <li>
                    <img src="../public/images/kertas.png" class="kertas" onclick="start('kertas')">
                </li>
                <li>
                    <img src="../public/images/gunting.png" class="gunting" onclick="start('gunting')">
                </li>
            </ul>                   
        </div>

        <div class = "col-2 d-grid justify-content-center align-self-center text-center information">
            <div id = "result" style="display:inline-flexbox; color: red; font-size: 6em; background-color: transparent;">
                VS
            </div>
        </div>

        <div class = "col-md-5 d-grid justify-content-center align-item-center text-center computer">
            <ul>
                <h3>Com</h3>
                <li>
                    <img src="../public/images/batu.png" class="batu" style="background-color: transparent; border-radius: 20%;">
                </li>
                <li>
                    <img src="../public/images/kertas.png" class="kertas" style="background-color: transparent; border-radius: 20%;">
                </li>
                <li>
                    <img src="../public/images/gunting.png" class="gunting" style="background-color: transparent; border-radius: 20%;">
                </li>
            </ul> 
        </div>
    </div>

    <div class = "row">
        <div class ="col-12 d-flex justify-content-center refresh">
            <img src="../public/images/refresh.png" class="restart" onclick="restart()">
        </div>
    </div>

</div>

<%- include('partials/footer'); -%>

<script>
    //posisi awal game
var resultScore = 0;
const item = ["batu", "kertas", "gunting"];
const result = ["DRAW", "Player 1 Win", "COM Win"];

//function mulai game
function start(score){
    const compare=document.getElementById("result");
    if(resultScore==0){
        const logicCom=Math.floor(Math.random()*item.length);
        const pilihanComputer=item[logicCom];
        const getPilihanComputer = document.querySelectorAll(".computer img");
        getPilihanComputer[logicCom].style.backgroundColor="gray",
        compare.innerHTML=result[getInfo(score,pilihanComputer)],
        compare.style.color="white",
        compare.style.backgroundColor="#4C9654",
        compare.style.transform="rotate(-20deg)",
        compare.style.fontSize="3em",
        resultScore=1
    }
    else compare.innerHTML="restart game first", compare.style.color="yellow", compare.style.transform="none", compare.style.fontSize="2em"
}

//function comparison for result
function getInfo(score,compare){
    if (compare == score) return "0";
    else if (compare == "batu") return (score == "kertas") ? "1" : "2";
    else if (compare == "kertas") return (score == "gunting") ? "1" : "2";
    else if (compare == "gunting") return (score == "batu") ? "1" : "2";
}

//function refresh game
function restart(){
    location.reload()
}

</script>