<%- include('partials/header'); -%>

<header>
  <div class="rock-paper-scissors">
    <img src="../public/images/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Rock Paper Scissors</h2>
    <h3>Multi player games</h3>
    <a href="/views/games.ejs" class="btn">Let's Play</a>
  </div>
</header>


<%- include('partials/footer'); -%>