/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body{
  background-color: #9C835F;
}

.header{
  margin:  15px 0 35px 0;
  display:flex;
  align-items: center;
}

.header h1{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 2em;
text-align: center;
display: inline-block;
align-items: center;
color: #F9B23D;
text-transform: uppercase;
}

.player1 img{
  width: 80px;
  height: auto;
  margin: 1.5em;
}

.player1 img:active, .player1 img:hover{
  border: 10px solid gray;
  border-radius: 15%;
  background-color: gray;
}

.player1 h3{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 49px;
  text-align: center;
  display: inline-block;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.ul, li{
  list-style: none;
  padding: none;
}

.computer img{
  width: 80px;
  height: auto;
  margin: 1.5em;
}

.computer h3{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
.refresh img{
  max-width: 5%;
  height: auto;
}

footer{
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 36px;
  background: #FEE996;
}
form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: white;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
label{
  display: block;
  margin: 20px 0 10px;
}
button{
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border:0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}